body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    background-color: transparent; /* Asegura que no haya fondo */
}

.social-links {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.social-links img {
    width: 24px;
    height: 24px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}
